<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View Course and Participants</title>
    </head>
    <body>
       	<h3 th:text="'ID = ' + ${course.id_course}">Course ID</h3>
       	<h3 th:text="'Name = ' + ${course.nama}">Course Name</h3>
       	<h3 th:text="'SKS = ' + ${course.sks}">SKS</h3>
       	<h3>Mahasiswa Yang Mengambil</h3>
       	<ul th:each="student,iterationStatus: ${course.students}">
       		<li th:text="${student.npm} + '-' + ${student.name}" >
       			Nama Siswa
       		</li>
       	</ul> 
    </body>
</html>

